body {
  font-family: Arial, sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/008/617/161/small/abstract-gradient-pastel-blue-and-purple-background-neon-pastel-color-template-for-website-or-presentation-free-free-vector.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 8px;
}

a {
  color: #000000;
  font-size: 30px;
  margin-right: 20px;
  text-decoration: none;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  
  padding: 10px;
  border-radius: 5px;

}
h1 {
  color: #000000;
text-decoration: underline;
font-size: 70px;}
h2 {
  color: #000000;
text-decoration: underline;
font-size: 35px;}

p {
  color: #555;
  font-size: 30px;
}
li {
  color: #555;
  font-size: 30px;
}

.payment{
  width: 150px;
  height: auto;
  border-radius: 50px;
  float: right;
}
.art {
  width: 300px;
  height: auto;
  
  float: right;
}